/* Poppins Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "swiper/css";
@import "swiper/css/pagination";

/* ############  CSS Variables  ################# */
:root{
    --yellow: #FFC107;
    --blue: #1A1A2E;
    --bg-color: #FFFCF6;
    --primary: #1E1E1E;
    --grey: #D3D3D3;
    --small-text: #474747;
    --btn-hover: #FCCC32;
    --btn-active: #E9A800;
    --shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
}

/* #########  Global styles ########### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

button{
    cursor: pointer;
    background-color: var(--yellow);
    border: none;
    font-weight: 600;
    padding: 1rem;
    width: 95%;
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
button:hover{
    background-color: var(--btn-hover);
}
button:active{
    background-color: var(--btn-active);
}
.link{
    text-decoration: none;
    color: var(--primary);
}

/* .select{
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        width: 95%;
        border: 1px solid var(--grey);
        background-color: white;
        border-radius: 8px;
        outline:#FFC107;
   
} */

/* #########  Global styles end here ########### */


/* #########  Landing page syles ########### */
.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*********** Landing Page styles end here ************/


/* #########  SignUp styles ########### */
.signup-container{
    background-color: var(--bg-color);
    padding-left: 1rem;
}
.signup-img{
    padding: 2rem 0;
    img{
        width: 50%;
    }
}
.signup-header-text{
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10px;
}
.signup-mini-text{
    margin-bottom: 3rem;
    color: var(--small-text);
    font-size: 16px;
}
.signup-form{
    form{
        display: flex;
        flex-direction: column;
        
        label{
            margin-bottom: 0.4rem;
            font-weight: 400;
            color: var(--primary);
        }
        input{
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            width: 95%;
            border: 1px solid var(--grey);
            background-color: white;
            border-radius: 8px;
            outline:#FFC107;
        }
      
        input:focus{
            border: 2px solid var(--yellow);
        }
        button{
            background-color: var(--yellow);
            border: none;
            font-weight: 600;
            padding: 1rem;
            width: 95%;
            border-radius: 8px;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
        button:hover{
            background-color: #FFA000;
        }
        .already-a-member{
            text-align: center;
            font-weight: 500;
                a{
                    text-decoration: none
                };
        }
    }
}
/* #########  SignUp styles end here ########### */


/* #########  SignIn styles  ########### */
.signin-container{
    background-color: var(--bg-color);
    padding-left: 1rem;
    .logo{
        padding-top: 2rem;
        
    }
    .header{
        margin-top: 3rem;
        font-size: 24px;
        font-weight: 700;
    }.mini-text{
        margin-bottom: 3rem;
        color: var(--small-text);
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 0.4rem;
            font-weight: 400;
            color: var(--primary);
        }
        input{
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            width: 95%;
            border: 1px solid var(--grey);
            background-color: white;
            border-radius: 8px;
            outline:#FFC107;
        }
        input:focus{
            border: 2px solid var(--yellow);
        }
       .forget{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        .remeber-input{
            display: flex;
            gap: 20px;
            font-size: 16px;
        }
        
       }
       .check{
        margin-left:-2rem ;
        width: 30px;
        margin-top:5px;
       }
      
    }
}
 
/* #########  SignIn styles end here ########### */



/* #########  Sign up Success styles ########### */

.signup-success-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    
    .signup-success-header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .signup-success-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 3rem;
    }
}
/* #########  Sign up Success styles ends here ########### */


/* Add meter styles */
.meter-container{
    padding: 1rem;
    background-color: var(--bg-color);
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top: 3rem;
    }
    .mini-text{
        margin-bottom: 2rem;
        color: var(--small-text);
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        margin: 0.4rem;
        font-weight: 400;
        color: var(--primary);
    }
    input, .select{
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        width: 95%;
        border: 1px solid var(--grey);
        background-color: white;
        border-radius: 8px;
        outline:#FFC107;
    }
    .select{
        outline: none;
        height: 70px;
        padding: 0;
        color: var(--small-text);
        padding-left: 1rem;
        ::placeholder{
            color: var(--small-text);
            font-weight: 100;
        }
    }
    .select:focus{
       outline:var(--yellow);
    } 
    input:focus{
        border: 2px solid var(--yellow);
    }
}
/* Add meter styles ends here */

/* ###########  Add meter success styles ##########*/

.meter-success-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 2rem;
        font-size: 16px;
    }
}

/* ###########  Add meter success styles ends here  ##########*/


/* ###########  Meter Warning styles ##########*/
.invalid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
}

/* ###########  Meter Warning styles ends here ##########*/

/* ###########  404 styles ##########*/
.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 2rem;
        font-size: 16px;
    }
}
/* ###########  404 styles ends here ##########*/


.mySwiper{
    height: 100vh;
}
.text-box{
   margin-top: -34rem; 
   height: 388px;
   padding: 2rem 2rem;
   color: white;
   text-align: center;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7))!important;
   z-index: 100;
   position:absolute;
   border-top-left-radius: 60px;
   border-top-right-radius: 60px;
    h2{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    p{
        font-size: 16px;
        font-weight: 300;
    }
    button{
        margin-top: 3rem;
        pointer-events: auto;
    }
}

/* Custom Swiper Pagination */
.swiper-pagination{
    top: 35.3rem !important;
    bottom: auto;
  }
.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255) !important; /* Change dot color */
    width: 15px; 
    height: 12px;
    border-radius: 6px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--yellow) !important; /* Active dot color */
    width: 3rem; 
    height: 12px;
  }
  


  /* Password Icons styling */
  .password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 95%;
}

.password-wrapper input {
    flex: 1;
    padding-right: 40px; /* Make space for the eye icon */
}

.eye-icon {
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: gray;
}


/* Dashboard styling starts here */
.dashboard-container{
    padding: 1rem 1rem;
    background-color: var(--bg-color);
    padding-bottom: 80px;
    .header{
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;

        .profile{
            display: flex;
           .header-text{
            padding: 1px 7px;
            h2{
                font-size: 20px;
                font-weight: 700;
                color: var(--primary);
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: var(--primary);
            }
           }
        }
       
    }
    .money-field{
        background: url('./assets/images/blue-bg-2.svg') no-repeat;
        height: 17vh;
        background-size: 90%;
        margin-top: 1.5rem;
        color: white;
        padding: 19px 20px;
        position: relative;
        p{
            font-weight: 200;
        }
        h1{
            font-size: 24px;
        }
        .show-money-icon{
            position: absolute;
            left: 10rem;
            top: 1.3rem;
            font-weight: 200;
        }
    }
    .cross{
        position: absolute;
        right: 2.7rem;
        top: 10.4rem;
        cursor: pointer;

    }

    .dashboard-cards{
        display: flex;
        justify-self: space-between;
        width: 100%;
        gap: 1rem;
        .card-1,.card-2{
            border-radius: 20px;
            width: 100%;
            padding: 1.5rem ;
            text-decoration: none;
        }
        .card-1{
            background-color: #FFE8A2;
        }
        .card-2{
            background-color: #DEDEFE;
        }
        .card-1:hover, .card-2:hover{
            cursor: pointer;
            scale: 1.05;
        }
    }

    .meter-usage{
        background-color: #e4e4e48f;
        height: 23.5vh;
        border-radius: 20px;
        .block{
            display: flex;
            margin-top: 3rem;
            padding: 1rem 1.5rem;
            gap: 1rem;
           
            .text{
                p{
                    font-size: 15px;
                }
                h2{
                    font-size: 16px;
                }
            }
        }
    }
    .leveler{
        margin: 0 1.5rem;
        background-color: #E4E4E4;
        border-radius: 20px;
        width: 90%;
        height: 25px;
        .range{
            background-color: #FFEB3B;
            border-radius: 20px;
            width: 50%;
            p{
                margin-left: 8rem;
            }
        }
    }
    .watt-text{
        display: flex;
        color: var(--small-text);
        justify-content: space-between;
        padding: 10px 1rem;
    }
}

/* Dashboard styling ends here */

/* Bottom Nav styling starts here */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 110%;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    border-top: 1px solid var(--grey);
    background-color: white;
    font-family: 'poppins';
    font-size: 10px;
    margin-left: -2.5rem;
}


/* Bottom Nav styling ends here */

/* ###########  Transaction History styles starts here ##########*/
.transaction-history{
    margin-top: 2rem;
    background-color: var(--bg-color);
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        h2{
            font-size: 16px;
        }
        p{
            font-size: 16px;
            font-weight: 500;
        }
    }
    .display-card{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding:10px;
        margin-bottom: 10px;
        .details{
            display: flex;
            gap: 1rem;
            width: 100%;
            img{
                width: 25%;
            }
            .text{
                margin-top: 26px;
                
            }
            h2{
                font-size: 15px;
                font-weight: 600;
            }
            p{
                font-size: 15px;
                color: var(--small-text);
            }
        }
        .amount{
            margin-top: 1.5rem;
            h2{
                font-size: 16px;
                font-weight: 600;
            }
            p{
                color: var(--small-text);
            }
        }
    }
    .display-card:hover{
        scale: 1.06;
    }
}

/* Styling for Pay Modal starts here */
.payModal-container{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 38vh;
    background-color: var(--bg-color);
    box-shadow:0 -4px 20px rgba(0,0,0,0.3) ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    z-index: 1000;
    animation: slideUp 0.3s ease-in-out;

    h1{
        text-align: center;
        font-size: 24px;
        padding-top: 1rem;
    }
    form{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        label{
            color: var(--small-text);
        }
        input{
            border:1px solid var(--btn-active);
            border-top: none;
            border-left: none;
            border-right: none;
            caret-color:var(--btn-active) ;
            margin: 1rem 0;
            height: 3rem;
            font-size: 40px;
            font-weight: 600;
            content: '₦';
            outline: none;

        }

    }
       .currency {
        font-size: 20px;
        margin-right: 4px;
        font-weight: 600;
      }
      .amount-input{
        display: flex;
        span{
            margin-top: 20px;
        }
      }
      
      
}
@keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  
@keyframes slideDown {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(100%);
    }
  }
  


  /* Payment page styling starts here */

  .payment-page{
    position: fixed;
    inset: 0;
    background-color: var(--bg-color);
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    animation: fadeIn 0.3s ease-in-out;
    .amount{
        margin-bottom:1rem;
        text-align: center;
        font-size: 24px;
    }
     h1{
        text-align: center;
        font-weight: 600; 
        font-size: 24px;
        margin-top: -2rem;
        margin-bottom: 1.5rem;
     }
     p{
        color: var(--small-text);
        font-size: 15px;
     }
     hr{
        margin-bottom: 1rem;
     }
     .bank{
        display: flex;
        padding: 15px 10px;
        border: 1px solid gray;
        /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); */
        border-radius: 10px;
        margin: 1rem 0;
        gap: 0.5rem;
        .text{
            display: grid;
            h3{
                font-size: 15px;
                font-weight: 600;
            }
        }  
     }

     .payment-options{
        margin-bottom: 3rem;
       margin-top: 1rem;
            input[type='radio'] {
                appearance: none; /* Remove default styling */
                -webkit-appearance: none;
                width: 18px;
                height: 18px;
                border: 2px solid #000000;
                border-radius: 50%;
                outline: none;
                cursor: pointer;
                position: relative;
                transition: border 0.2s ease;
            }
            
            input[type='radio']:checked {
                border-color: var(--btn-active);
                background-color:var(--bg-color);
            }
            
            input[type='radio']:checked::after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3.2px;
                width: 8px;
                height: 8px;
                background: var(--btn-active);  /*inner dot color */
                border-radius: 50%;
            }
        .card,.bank-transfer{
            display: flex;
            justify-content: space-between;
            border: 1px solid gray;
            /* box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2); */
            padding: 15px 10px;
            border-radius: 10px;
            cursor: pointer;
            margin-bottom: 1rem;
            .block{
                display: flex;
                gap: 0.5rem;
                
            }
        }
        .card:active, .bank-transfer:active{
            border: solid 1px var(--btn-active);
        }
     }
  }


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


  /* Settings Styles */
  .settings{
    background-color: var(--bg-color);
    padding: 2rem;
    .header{
        display: flex;
        gap: 6rem;
        margin-bottom: 3rem;
        h2{
            font-weight: 400;
        }

    }
    .sets{
       .name{
        background-color: #FAFAFA;
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        .items{
            display: flex;
            gap: 1rem;
            p{
                margin-top: 10px;
            }
        }
       }
    }
    button{
        position: relative;
        font-size: 15px;
        img{
            position: absolute;
            left: 6rem;
        }
    }
  }