/* Poppins Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "swiper/css";
@import "swiper/css/pagination";

/* ############  CSS Variables  ################# */
:root{
    --yellow: #FFC107;
    --blue: #1A1A2E;
    --bg-color: #FFFCF6;
    --primary: #1E1E1E;
    --grey: #D3D3D3;
    --small-text: #474747;
    --btn-hover: #FCCC32;
    --btn-active: #E9A800;
}

/* #########  Global styles ########### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button{
    cursor: pointer;
    background-color: var(--yellow);
    border: none;
    font-weight: 600;
    padding: 1rem;
    width: 95%;
    border-radius: 8px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
button:hover{
    background-color: var(--btn-hover);
}
button:active{
    background-color: var(--btn-active);
}
.link{
    text-decoration: none;
    color: var(--primary);
}

/* .select{
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        width: 95%;
        border: 1px solid var(--grey);
        background-color: white;
        border-radius: 8px;
        outline:#FFC107;
   
} */

/* #########  Global styles end here ########### */


/* #########  Landing page syles ########### */
.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*********** Landing Page styles end here ************/


/* #########  SignUp styles ########### */
.signup-container{
    background-color: var(--bg-color);
    padding-left: 1rem;
}
.signup-img{
    padding: 2rem 0;
    img{
        width: 50%;
    }
}
.signup-header-text{
  font-size: 24px;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 10px;
}
.signup-mini-text{
    margin-bottom: 3rem;
    color: var(--small-text);
    font-size: 16px;
}
.signup-form{
    form{
        display: flex;
        flex-direction: column;
        
        label{
            margin-bottom: 0.4rem;
            font-weight: 400;
            color: var(--primary);
        }
        input{
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            width: 95%;
            border: 1px solid var(--grey);
            background-color: white;
            border-radius: 8px;
            outline:#FFC107;
        }
        input:focus{
            border: 2px solid var(--yellow);
        }
        button{
            background-color: var(--yellow);
            border: none;
            font-weight: 600;
            padding: 1rem;
            width: 95%;
            border-radius: 8px;
            margin-top: 1.5rem;
            margin-bottom: 1rem;
        }
        button:hover{
            background-color: #FFA000;
        }
        .already-a-member{
            text-align: center;
            font-weight: 500;
                a{
                    text-decoration: none
                };
        }
    }
}
/* #########  SignUp styles end here ########### */


/* #########  SignIn styles  ########### */
.signin-container{
    background-color: var(--bg-color);
    padding-left: 1rem;
    .logo{
        padding-top: 2rem;
        
    }
    .header{
        margin-top: 3rem;
        font-size: 24px;
        font-weight: 700;
    }.mini-text{
        margin-bottom: 3rem;
        color: var(--small-text);
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
        label{
            margin-bottom: 0.4rem;
            font-weight: 400;
            color: var(--primary);
        }
        input{
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            width: 95%;
            border: 1px solid var(--grey);
            background-color: white;
            border-radius: 8px;
            outline:#FFC107;
        }
        input:focus{
            border: 2px solid var(--yellow);
        }
       .forget{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        .remeber-input{
            display: flex;
            gap: 20px;
            font-size: 16px;
        }
        
       }
       .check{
        margin-left:-2rem ;
        margin-right: -1.5rem;
        width: 30px;
        margin-top:5px;
       }
      
    }
}
 
/* #########  SignIn styles end here ########### */



/* #########  Sign up Success styles ########### */

.signup-success-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    
    .signup-success-header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .signup-success-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 3rem;
    }
}
/* #########  Sign up Success styles ends here ########### */


/* Add meter styles */
.meter-container{
    padding: 1rem;
    background-color: var(--bg-color);
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top: 3rem;
    }
    .mini-text{
        margin-bottom: 2rem;
        color: var(--small-text);
        font-size: 16px;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    label{
        margin: 0.4rem;
        font-weight: 400;
        color: var(--primary);
    }
    input, .select{
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        width: 95%;
        border: 1px solid var(--grey);
        background-color: white;
        border-radius: 8px;
        outline:#FFC107;
    }
    .select{
        outline: none;
        height: 70px;
        padding: 0;
        color: var(--small-text);
        padding-left: 1rem;
        ::placeholder{
            color: var(--small-text);
            font-weight: 100;
        }
    }
    .select:focus{
       outline:var(--yellow);
    } 
    input:focus{
        border: 2px solid var(--yellow);
    }
}
/* Add meter styles ends here */

/* ###########  Add meter success styles ##########*/

.meter-success-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 2rem;
        font-size: 16px;
    }
}

/* ###########  Add meter success styles ends here  ##########*/


/* ###########  Meter Warning styles ##########*/
.invalid-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
}

/* ###########  Meter Warning styles ends here ##########*/

/* ###########  404 styles ##########*/
.not-found-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    text-align: center;
    .header{
        font-size: 24px;
        font-weight: 700;
        color: var(--primary);
        margin-top:2rem;
    }
    .mini-text{
        font-size: 16px;
        color: var(--small-text);
        margin-bottom: 1rem;
    }
    button{
        margin-top: 2rem;
        font-size: 16px;
    }
}
/* ###########  404 styles ends here ##########*/


.mySwiper{
    height: 100vh;
}
.text-box{
   margin-top: -34rem; 
   height: 388px;
   padding: 2rem 2rem;
   color: white;
   text-align: center;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7))!important;
   z-index: 100;
   position:absolute;
   border-top-left-radius: 60px;
   border-top-right-radius: 60px;
    h2{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    p{
        font-size: 16px;
        font-weight: 300;
    }
    button{
        margin-top: 3rem;
        pointer-events: auto;
    }
}

/* Custom Swiper Pagination */
.swiper-pagination{
    top: 35.3rem !important;
    bottom: auto;
  }
.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255) !important; /* Change dot color */
    width: 15px; 
    height: 12px;
    border-radius: 6px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--yellow) !important; /* Active dot color */
    width: 3rem; 
    height: 12px;
  }
  


  /* Password Icons styling */
  .password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    flex: 1;
    padding-right: 40px; /* Make space for the eye icon */
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    color: gray;
}


/* Dashboard styling starts here */
.dashboard-container{
    padding: 1rem 1rem;
    background-color: var(--bg-color);
    padding-bottom: 80px;
    .header{
        margin-top: 1.5rem;
        display: flex;
        justify-content: space-between;

        .profile{
            display: flex;
           .header-text{
            padding: 1px 7px;
            h2{
                font-size: 20px;
                font-weight: 700;
                color: var(--primary);
            }
            p{
                font-size: 20px;
                font-weight: 600;
                color: var(--primary);
            }
           }
        }
       
    }
    .money-field{
        background: url('./assets/images/blue-bg.png') no-repeat;
        height: 18vh;
        margin-top: 1.5rem;
        color: white;
        padding: 20px;
        position: relative;
        p{
            font-weight: 200;
        }
        h1{
            font-size: 24px;
        }
        .show-money-icon{
            position: absolute;
            left: 10rem;
            top: 1.3rem;
            font-weight: 200;
        }
    }
    .cross{
        position: absolute;
        right: 0.8rem;
        top: 11rem;

    }

    .dashboard-cards{
        display: flex;
        justify-self: space-between;
        margin-top: 2rem;
        width: 100%;
        gap: 1rem;
        .card-1,.card-2{
            border-radius: 20px;
            width: 100%;
            padding: 1.5rem ;
        }
        .card-1{
            background-color: #FFE8A2;
        }
        .card-2{
            background-color: #DEDEFE;
        }
        .card-1:hover, .card-2:hover{
            cursor: pointer;
            scale: 1.05;
        }
    }

    .meter-usage{
        background-color: #e4e4e48f;
        height: 23.5vh;
        border-radius: 20px;
        .block{
            display: flex;
            margin-top: 3rem;
            padding: 1rem 1.5rem;
            gap: 1rem;
           
            .text{
                p{
                    font-size: 15px;
                }
                h2{
                    font-size: 16px;
                }
            }
        }
    }
    .leveler{
        margin: 0 1.5rem;
        background-color: #E4E4E4;
        border-radius: 20px;
        width: 90%;
        height: 25px;
        .range{
            background-color: #FFEB3B;
            border-radius: 20px;
            width: 50%;
            p{
                margin-left: 8rem;
            }
        }
    }
    .watt-text{
        display: flex;
        color: var(--small-text);
        justify-content: space-between;
        padding: 10px 1rem;
    }
}

/* Dashboard styling ends here */

/* Bottom Nav styling starts here */
.bottom-nav{
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    border-top: 1px solid var(--grey);
    background-color: white;
    .bottom-btn:hover{
        background-color:transparent;
        scale: 1.05;
    }
    .bottom-icon:active{
        color:red;
    }
}


/* Bottom Nav styling ends here */

/* ###########  Transaction History styles starts here ##########*/
.transaction-history{
    margin-top: 2rem;
    .header{
        display: flex;
        justify-content: space-between;
        h2{

        }
        p{
            
        }
    }
}