/* Poppins Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ############  CSS Variables  ################# */
:root{
    --yellow: #FFC107;
    --blue: #1A1A2E;
    --bg-color: #FFFCF6;
    --primary: #1E1E1E;
}

/* #########  Global styles ########### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #########  Landing page syles ########### */
.landing-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/*********** Landing Page styles end here ************/


/* #########  SignUp styles ########### */
.signup-container{
    background-color: var(--bg-color);
    padding-left: 1rem;
}
.signup-img{
    padding: 2rem 0;
    img{
        width: 50%;
    }
}
.signup-header-text{
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
}
.signup-mini-text{
    margin-bottom: 3rem;
}
.signup-form{
    form{
        display: flex;
        flex-direction: column;
    }
}
/* #########  SignUp styles end here ########### */